sample_dir/
model_dir/
fonts/
*.ipynb
*.pyc
__pycache__
board/
.idea/
zi2zi/
font27/
zi2ziu_experiment/
*.tgz
infer_charset
zi2ziu_infer_sample
zi2ziu_experiment_randompair
zi2ziu_experiment_xiaozhuan
*.png
inferred/